@charset "utf-8";


div#tv-radio{
	width: 900px;
	height: 580px;
	margin: auto;
	background: url("../_imagens/radio-tv.png") no-repeat;

}

video#filme01 {
	display: block;
	position: relative;
	left:100; 
	top:85;
	width: 500px;
}
audio#musica {
	display: block;
	position: relative;
	left:575px; 
	top:490px;
	width: 300px;
}
